@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);







#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #2c82c9;
}
#ext_menu-3 .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Droid Serif', serif;
}
#ext_menu-3 .mbr-navbar__items a SPAN {
  font-family: 'Droid Serif', serif;
}
#header2-5 H1 {
  text-align: center;
}
#header2-5 P {
  font-family: 'Droid Serif', serif;
}
#header2-5 SPAN {
  font-family: 'Droid Serif', serif;
  font-size: 100px;
}
#content5-9 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
  font-family: 'Droid Serif', serif;
  font-size: 16px;
}
#content5-9 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-9 .mbr-article {
  color: #000000;
  font-family: 'Droid Serif', serif;
  font-size: 12px;
}
#social-buttons2-f .mbr-header__text {
  color: #475577;
  font-family: 'Droid Serif', serif;
  text-align: right;
}


#ext_menu-h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-h .mbr-navbar__hamburger {
  color: #2c82c9;
}
#ext_menu-h .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Droid Serif', serif;
}
#ext_menu-h .mbr-navbar__items a SPAN {
  font-family: 'Droid Serif', serif;
}


#ext_menu-g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-g .mbr-navbar__hamburger {
  color: #2c82c9;
}
#ext_menu-g .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Droid Serif', serif;
}
#ext_menu-g .mbr-navbar__items a SPAN {
  font-family: 'Droid Serif', serif;
}


#ext_menu-h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#ext_menu-h .mbr-navbar__hamburger {
  color: #2c82c9;
}
#ext_menu-h .mbr-navbar__items a {
  font-size: 15px;
  font-family: 'Droid Serif', serif;
}
#ext_menu-h .mbr-navbar__items a SPAN {
  font-family: 'Droid Serif', serif;
}
